@font-face {
	font-family: 'BLOODSUC';
	src: url('./BLOODSUC.eot');
	src: local('BLOODSUC'), url('./BLOODSUC.woff') format('woff'), url('./BLOODSUC.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_577">Text with this font applied</p> */
.fontsforweb_fontid_577 {
	font-family: 'BLOODSUC' !important;
}

/* Font downloaded from FontsForWeb.com */